
.coments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7d3f60;
    overflow-x: hidden;
}

.coments-list {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    overflow: auto;
    max-height: 100vh;
    position: relative;
}

.coments-list .coments-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.coments-list .coments-loading span {
    color:white;
    text-align: center;
    align-items: center;
    font-size: 2rem;
}

.coments-list li .content-coment {
    background-color: #372b2e;
    color: white;
    font-size: 1.3rem;
    border-radius: 12px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    padding: 12px 40px;
    height: 100%;
}

.coments-list li p {
    align-items: start;
    height: 100%;
    margin: 0;
    overflow-wrap: break-word;
}

.coments-list li div div  { 
    height: 100%;
    display: flex;
    justify-content: end;
}

.coments-list li div div span {
    background-color: #553645;
    color: white;
    padding: 10px;
}

.coments nav {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
}

.coments nav input {
    width: 80%;
    height: 100%;
    font-size: 1.3rem;
    padding: 0 20px;
}

.coments nav button {
    width: 20%;
    height: 100%;
    font-size: 1.3rem;
    background-color: #6b8f0b;
    border: none;
}

.coments nav button:hover {
    background-color: #7a8a4e;
    cursor: pointer;
}

.coments nav button:active {
    background-color: #a8b779;
}

.coments nav button:disabled {
    background-color: #553645;
    color: white;
    cursor: not-allowed;
}